<footer class="site-footer clearfix ">
  <section>
  {{ghost_foot}}
  </section>

  <section class="copyright">
  	<a href="//www.dtdreamer.club/" target="_blank">wangzr</a> © 2015 - 2018
  </section>
  <section class="poweredby ">
  	Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> | Theme <a href="https://github.com/flute/skywalker">SkyWalker </a>
  </section>
  <section>
      <a href="//www.miitbeian.gov.cn/" target="_blank">浙ICP备16010426号</a>
  </section>
</footer>
